._2R-kh {
    display: flex;
    justify-content: center;
    align-content: center;
}
._wPDyp {
    flex: 0 0 calc(100% / 5 - 10px);
    margin: 5px;
}
._vzTHL {
    width: 22vw;
    height: 22vw;
    transition: 0.25s;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &:hover {
        opacity: 50%;
    }
}
._3xnQP {
    color: #fff;
    opacity: 0;
}
@media (max-width: 480px) {
    ._wPDyp {
        flex: 0 0 calc(100% / 2 - 10px);
        margin: 5px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
}

._3lhLL {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 18px;
}
.instagram-count-item {
    color: black !important;
}
