.shop-nav {
  .shop-nav-container {
      font-weight: 600;
      font-size: 1.1em;
      padding: 0% 4% 0% 4%;
    .shop-inner-nav {
      .shop-artist-dropdown {
        transition: all 0.25s;
        &:hover {
          background: rgb(10, 10, 10);
          color: rgb(233, 233, 233);
          transition: all 0.25s;
        }
        .shop-artist-dropdown-text {
          font-size: 0.95em;
        }
      }
    }
  }
}
