.landing-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .button-enter {
    }
    .button-store {
    }
    ._2R-kh {
        justify-content: center;
    }
    .twitter-container{
        display: flex;
        justify-content: center;
    }
}
